@import "tailwindcss";

@theme {
  --color-secondary: #b19cd9;
  --color-darkBg: #131424,
  /* ... */
}

html, body {
  color: #fff;
  background: #1c1c1c;
  margin: 0;
}

main {
  height: 100vh;
  height: 100dvh;
  background: linear-gradient(90.21deg, rgb(74, 0, 128) -5.91%, rgb(13, 13, 13) 111.58%);
}
