@import "tailwindcss";

@theme {
  --color-secondary: #b19cd9;
  --color-darkBg: #4a0080,
  /* ... */
}

html, body {
  color: #fff;
  background: #1c1c1c;
  margin: 0;
}

main {
 
  background: linear-gradient(90.21deg, #4a0080 -5.91%, #1c1c1c 111.58%);
}
